body {
    background-color: whitesmoke;
    margin: 0;

}


/*GENERELLE TING ---------------*/


.sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

@media only screen and (max-width: 375px) {
    .sectionwrapper {

        border-radius: 10px;
        padding: 15px;
    }
}

.hidden {
    Transform: scale(0);
}


section {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-grow: 2;
    flex-basis: 200px;

}

/*GENERELLE TING SLUTTER ----------*/

/*HEADER STARTER ---------------*/


header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1;

}

.header_text {
    background-color: #80acb9;
    max-width: 100%;
    position: fixed;
    justify-content: left;
    top: 0px;
    left: 3px;
    padding: 30px;

}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 2rem;

}

header nav a {
    margin: 0.25rem;
    padding: 0.25rem;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;

}


header nav a:hover {
    background-color: #5ec7c7;
    color: whitesmoke;
}

.header_text {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header_texta:last-child {
    border-right: none;

}

@media only screen and (min-width: 725px) {

    #menuknap {
        display: none;
    }
}

@media only screen and (max-width: 725px) {
    .header_text {
        display: none;

    }

    header nav a:hover {
        background-color: none;
    }
}

#menuknap {
    display: inline-block;
    font-size: 2rem;
    font-family: sans-serif;

}

#menu {
    list-style-type: none;
    transform-origin: top left;
    text-align: right;
    background-color: #80acb9;
    text-align: right;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
    line-height: 70px;
}

/*HEADER SLUTTER ---------------*/
/*
#om .sectionwrapper {
    background-color: rgba(188, 143, 143, 0.56);
}
*/


/*FORSIDE STARTER -----------------------*/


#forside {
    max-width: none;
    padding-top: 100px;
    position: relative;
    text-align: center;
    color: black;

}




.centered {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 45%;
    left: 10%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #80acb9;
    padding: 25px;
    animation-name: fade_in2_kf;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
}

@keyframes fade_in2_kf {
    0% {
        opacity: 0;
        transform: translatex(-50px);

    }

    100% {
        opacity: 1;
        transform: translatex(0);

    }

}


@media only screen and (max-width: 1140px) {
    .centered {
        display: flex;
        position: absolute;
        bottom: 25%;
        left: 30%;
        transform: translate(-50%, -50%);

        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        animation-name: fade_in2_kf;
        animation-duration: 4s;
        animation-iteration-count: 1;
        transition: ease-in;
    }

    @keyframes fade_in2_kf {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 1;

        }

    }
}


@media only screen and (max-width: 768px) {
    .centered {
        bottom: 65%;
        left: 50%;
        font-size: 1.5rem;
        height: 20px;
        width: 300px;
        line-height: 15px;
        align-items: center;
        justify-content: center;
        animation-name: fade_in2_kf;
        animation-duration: 4s;
        animation-iteration-count: 1;
        transition: ease-in;

    }

    @keyframes fade_in2_kf {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 1;

        }

    }

}


@media only screen and (max-width: 627px) {
    .centered {
        bottom: 63%;
        left: 50%;
        font-size: 1.5rem;
        line-height: 15px;
        height: 20px;
        width: 300px;
        align-items: center;
        justify-content: center;

    }
}

/*FORSIDE SLUTTER ---------------------*/

/*OM SEKTION STARTER-----------*/

#om {
    padding-top: 100px;
    max-width: 100%;
}

#om h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    line-height: 0;
}

#om .column {

    flex-grow: 2;
    flex-basis: 400px;
    padding: 15px;

}

#om .om_column {

    flex-grow: 2;
    flex-basis: 400px;
    padding: 15px;
    margin-top: 55px;
}

#om .sectionwrapper {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
}

#cv {
    max-width: 100%;
}


#cv .column_big {
    flex-grow: 2;
    flex-basis: 600px;
    padding: 15px;
    text-align: right;


}

#cv li {
    padding: 20px;
    font-family: 'lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

#cv ul {
    list-style-image: url('square.png');
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

#cv .column_small {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 15px;
}

#cv .sectionwrapper {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
}

.curriculum_vitae {
    display: flex;
    justify-content: center;
    height: 350px;
}

.curriculum_vitae img {
    width: 200px;

    border: 20px solid rgba(0, 0, 0, 0.38);
}

.curriculum_vitae:hover {
    opacity: 0.5;
}

/*OM SEKTION SLUTTER ----------------------------*/


/*SKRIFT STARTER ------------------------*/


/*

.hide {
    display: none;
}
*/


h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #5ec7c7;
    text-transform: uppercase;
    font-weight: 300;
}

h2,
h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;

}


h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}



p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}




/*SKRIFT SLUTTER ---------------------------*/



/*MY PROJECTS STARTER HER ------------------*/

/*pop up effekt på box */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-grow: 1;
    flex-basis: 200px;
    padding: 15px;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 200px;
    padding: 15px;
}

.element {
    position: absolute;
    opacity: 0;
    padding: 50px;
    background: #202334;
    transition: 0.3s ease-in-out all;
    color: white;
    flex-grow: 1;
    flex-basis: 200px;
    padding: 15px;
}

.element h3 {
    font-size: 2rem;
    margin: 8px;

}

/*Hover effecten*/
.box:hover .element {
    opacity: 0.9;
    flex-grow: 2;
    flex-basis: 400px;
    padding: 15px;

}


/*EFFEKTER SLUTTER----------------- */

/*PROJECT ---------------------*/
/*KNAPPER ----------------*/


#project .linkbox a {
    text-decoration: none;
    color: whitesmoke;
}

#project .linkbox2 a {
    text-decoration: none;
    color: whitesmoke;
}

#project .linkbox3 a {
    text-decoration: none;
    color: whitesmoke;
}

/* unvisited link */

#project .linkbox a:link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

#project .linkbox2 a:link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

#project .linkbox3 a:link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

/* mouse over link */
#project .linkbox:hover {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background-color: #202334;

}

#project .linkbox2:hover {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background-color: #202334;

}

#project .linkbox3:hover {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background-color: #202334;

}

/* selected link */

#project .linkbox a:active {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#project .linkbox2 a:active {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#project .linkbox3 a:active {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

#project .linkbox {
    width: 65%;
    height: 11%;
    border-radius: 7px;
    margin: 0;
    padding: 20px;
    background-color: #5ec7c7;
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

#project .linkbox2 {
    width: 65%;
    height: 11%;
    border-radius: 7px;
    margin: 0;
    padding: 20px;
    background-color: #5ec7c7;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

#project .linkbox3 {
    width: 65%;
    height: 11%;
    border-radius: 7px;
    margin: 0;
    padding: 20px;
    background-color: #5ec7c7;
    margin-top: 170px;
    display: flex;
    justify-content: center;

}

#project .top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#project .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#project .sectionwrapper {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 25px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#project .column {

    flex-grow: 2;
    flex-basis: 400px;
    padding: 15px;
}

.project {
    max-width: 100%;
    padding-top: 100px;
}


#project h2,
#project h3,
#project h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: left;

}

.project h2 {
    font-size: 2rem;
    margin: 6px;
    font-weight: 300;
}

.project h3 {
    font-size: 1.5rem;
    margin: 6px;
    font-weight: 600;
}


.project h4 {
    font-size: 1rem;
    margin: 6px;
    font-weight: 400;
}

/*BAGGRUNDE ----------*/

#number1 {
    background-color: white;
}

#number2 {
    background-color: #dae2ea;
}

#number3 {
    background-color: #c2c7d4;
}

#number4 {
    background-color: #e3edf4;
}

#number5 {
    background-color: #91afc1;
}

#number6 {
    background-color: #758396;
}

#number7 {
    background-color: #9a9ca3;
}

#number8 {
    background-color: #c4cbd3;
}


#number9 {
    background-color: #879fb4;
}

#project .column p {
    visibility: hidden;
}

@media only screen and (min-width: 414px) {
    .gem img {
        visibility: hidden;
    }
}

@media only screen and (max-width: 414px) {

    .box:hover .element {
        visibility: hidden;
    }

    .element {
        visibility: hidden;
    }


    .project h2 {
        font-size: 1.2rem;


    }

    .project h3 {
        font-size: 0.6rem;


    }

    .project h4 {
        font-size: 0.5rem;


    }

    #project .column {

        flex-grow: 2;
        flex-basis: 400px;
        padding: 15px;
        position: absolute;

    }



    .fadeInUp {
        animation: none;
    }


    .box img {
        visibility: hidden;
    }

    #number1 {
        padding: 10px;
    }

    #project1 .linkbox {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
    }

    #project1 .linkbox2 {
        margin-top: 5px;
        margin-left: 40px;
        position: relative;
    }

    #number1 h2 {
        position: relative;
        bottom: 250px;
    }

    #number1 h3 {
        position: relative;
        bottom: 250px;
    }

    #number1 h4 {
        position: relative;
        bottom: 250px;
    }

    #number1 img {
        position: relative;
        top: 50px;
    }

    #number2 {
        padding: 10px;
    }

    #number2 h2 {
        position: relative;
        bottom: 280px;
    }

    #number2 h3 {
        position: relative;
        bottom: 280px;
    }

    #number2 h4 {
        position: relative;
        bottom: 280px;
    }

    #number2 img {
        position: relative;
        top: 70px;
    }

    #project2 .linkbox3 {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        top: 45px;
    }

    #number3 {
        padding: 10px;
    }

    #project3 .linkbox {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        bottom: 20px;
    }

    #project3 .linkbox2 {
        margin-top: 5px;
        margin-left: 40px;
        position: relative;
        bottom: 20px
    }

    #number3 h2 {
        position: relative;
        bottom: 220px;
    }

    #number3 h3 {
        position: relative;
        bottom: 220px;
    }

    #number3 h4 {
        position: relative;
        bottom: 220px;
    }

    #number3 img {
        position: relative;
        top: 100px;
    }

    #number4 {
        padding: 10px;
    }

    #project4 .linkbox {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        top: 10px;
    }

    #project4 .linkbox2 {
        margin-top: 4px;
        margin-left: 40px;
        position: relative;
        top: 10px;
    }

    #number4 h2 {
        position: relative;
        bottom: 250px;
    }

    #number4 h3 {
        position: relative;
        bottom: 250px;
    }

    #number4 h4 {
        position: relative;
        bottom: 250px;
    }

    #number4 img {
        position: relative;
        top: 50px;
    }

    #number5 {
        padding: 10px;
    }

    #project5 .linkbox {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        top: 10px;
    }

    #project5 .linkbox2 {
        margin-top: 4px;
        margin-left: 40px;
        position: relative;
        top: 10px;
    }

    #number5 h2 {
        position: relative;
        bottom: 250px;
    }

    #number5 h3 {
        position: relative;
        bottom: 250px;
    }

    #number5 h4 {
        position: relative;
        bottom: 250px;
    }

    #number5 img {
        position: relative;
        top: 50px;
    }

    #number6 {
        padding: 10px;
    }

    #project6 .linkbox3 {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        top: 40px;
    }

    #number6 h2 {
        position: relative;
        bottom: 280px;
    }

    #number6 h3 {
        position: relative;
        bottom: 280px;
    }

    #number6 h4 {
        position: relative;
        bottom: 280px;
    }

    #number6 img {
        position: relative;
        top: 50px;
    }

    #number7 {
        padding: 10px;
    }

    #project7 .linkbox3 {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        top: 45px;
    }

    #number7 h2 {
        position: relative;
        bottom: 280px;
    }

    #number7 h3 {
        position: relative;
        bottom: 280px;
    }

    #number7 h4 {
        position: relative;
        bottom: 280px;
    }

    #number7 img {
        position: relative;
        top: 60px;
    }

    #number8 {
        padding: 10px;
    }

    #project8 .linkbox3 {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        top: 45px;
    }

    #number8 h2 {
        position: relative;
        bottom: 280px;
    }

    #number8 h3 {
        position: relative;
        bottom: 280px;
    }

    #number8 h4 {
        position: relative;
        bottom: 280px;
    }

    #number8 img {
        position: relative;
        top: 60px;
    }

    #number9 {
        padding: 10px;
    }

    #project9 .linkbox3 {
        margin-top: 0px;
        margin-left: 40px;
        position: relative;
        top: 45px;
    }

    #number9 h2 {
        position: relative;
        bottom: 280px;
    }

    #number9 h3 {
        position: relative;
        bottom: 280px;
    }

    #number9 h4 {
        position: relative;
        bottom: 280px;
    }

    #number9 img {
        position: relative;
        top: 70px;
    }

    #project3 .linkbox {
        margin-top: 60px;
        position:
    }
